{:paths ["src/clj" "src/cljc" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}}
 :aliases {:dev {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}
                              nrepl {:mvn/version "RELEASE"}}
                 :main-opts ["-m" "nrepl.cmdline"
                             "-middleware" "[cider.nrepl/cider-middleware]"]}
           :test {:extra-paths ["test/clj"] :extra-deps {lambdaisland/kaocha {:mvn/version "1.60.945"}
                                                         com.hypalynx/css-validator {:mvn/version "cssval-20211112"}}}
           :pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "d9023b24c3d589ba6ebc66c5a25c0826ed28ead5"}
                               javax.xml.bind/jaxb-api {:mvn/version "2.4.0-b180830.0359"}}
                  :main-opts ["-m"]}
           :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "sail.jar"]}}}

